
This notebook is a Tensorflow practice based on the Youtube Channel [Nicholas Renotte](https://www.youtube.com/watch?v=6_2hzRopPbQ&list=PLgNJO2hghbmjpjt9sa2POi4U0a1-GGTlj&index=3)

In [1]:
import pandas as pd

In [2]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2955 sha256=b6fe4bdf5f07323e0f647cfa11796ef3b055ed24c924e3a5228eff734d59d042
  Stored in directory: /root/.cache/pip/wheels/f8/e0/3d/9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [3]:
from sklearn.model_selection import train_test_split

In [18]:
df = pd.read_excel('/content/drive/MyDrive/Work/Practice/numpy/Churn.xlsx')

In [19]:
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [21]:
df.columns

Index(['Customer ID', 'Gender', 'Senior Citizen', 'Partner', 'Dependents',
       'tenure', 'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn'],
      dtype='object')

In [22]:
df.isnull().sum()

Customer ID          0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn                0
dtype: int64

In [23]:
df.Churn.unique()

array(['No', 'Yes'], dtype=object)

In [24]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [26]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_8496.7,Total Charges_8529.5,Total Charges_8543.25,Total Charges_8547.15,Total Charges_8564.75,Total Charges_8594.4,Total Charges_8670.1,Total Charges_8672.45,Total Charges_8684.8,Total Charges_
5028,1,10,85.55,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6228,0,2,46.05,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3379,0,72,84.45,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3366,0,19,19.65,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6981,1,16,39.00,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y_train.head()

5028    1
6228    1
3379    0
3366    0
6981    1
Name: Churn, dtype: int64

##Import Dependencies

In [28]:
!pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.9/dist-packages (2.12.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.12.1)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.4.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow) (67.6.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.53.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from tensorflow) (23.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow) (0.0.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.2.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow) (6.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [30]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

##Build and Compile

In [31]:
model = Sequential()

In [32]:
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [34]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

##Fit, Predict and Evaluate

In [59]:
#fit
model.fit(X_train, y_train, epochs=75, batch_size=32)

Epoch 1/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4148 - accuracy: 0.8016
Epoch 2/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4148 - accuracy: 0.8041
Epoch 3/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4145 - accuracy: 0.8012
Epoch 4/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4157 - accuracy: 0.8002
Epoch 5/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4147 - accuracy: 0.8035
Epoch 6/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4164 - accuracy: 0.8051
Epoch 7/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4158 - accuracy: 0.8020
Epoch 8/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4167 - accuracy: 0.8016
Epoch 9/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4156 - accuracy: 0.8034
Epoch 10/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4146 - accuracy: 0.7977
Epoch 11/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4146 - accuracy: 0.8005
Epoch 12/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4152 - accuracy: 0.8053
Epoch 13/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4142 - accuracy: 0.8018
Epoch 14/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4137 - accuracy: 0.7995
Epoch 15/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4149 - accuracy: 0.8032
Epoch 16/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4157 - accuracy: 0.7988
Epoch 17/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4150 - accuracy: 0.8016
Epoch 18/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4144 - accuracy: 0.8027
Epoch 19/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4167 - accuracy: 0.8018
Epoch 20/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4144 - accuracy: 0.8002
Epoch 21/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4159 - accuracy: 0.8023
Epoch 22/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4113 - accuracy: 0.8048
Epoch 23/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4180 - accuracy: 0.7966
Epoch 24/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4149 - accuracy: 0.8039
Epoch 25/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4185 - accuracy: 0.7986
Epoch 26/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4167 - accuracy: 0.8012
Epoch 27/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4213 - accuracy: 0.7995
Epoch 28/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4139 - accuracy: 0.8000
Epoch 29/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4157 - accuracy: 0.7993
Epoch 30/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4155 - accuracy: 0.8000
Epoch 31/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4136 - accuracy: 0.7991
Epoch 32/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4146 - accuracy: 0.8027
Epoch 33/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4130 - accuracy: 0.8016
Epoch 34/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4165 - accuracy: 0.8014
Epoch 35/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4152 - accuracy: 0.8012
Epoch 36/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4153 - accuracy: 0.8043
Epoch 37/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4144 - accuracy: 0.8021
Epoch 38/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4154 - accuracy: 0.8025
Epoch 39/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4146 - accuracy: 0.8012
Epoch 40/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4141 - accuracy: 0.8043
Epoch 41/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4136 - accuracy: 0.8005
Epoch 42/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4160 - accuracy: 0.8000
Epoch 43/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4141 - accuracy: 0.8048
Epoch 44/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4155 - accuracy: 0.8030
Epoch 45/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4146 - accuracy: 0.8009
Epoch 46/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4130 - accuracy: 0.8030
Epoch 47/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4147 - accuracy: 0.7988
Epoch 48/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4129 - accuracy: 0.8043
Epoch 49/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4151 - accuracy: 0.7989
Epoch 50/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4162 - accuracy: 0.8043
Epoch 51/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4156 - accuracy: 0.7988
Epoch 52/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4142 - accuracy: 0.8021
Epoch 53/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4149 - accuracy: 0.7989
Epoch 54/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4152 - accuracy: 0.8018
Epoch 55/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4171 - accuracy: 0.8009
Epoch 56/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4123 - accuracy: 0.8039
Epoch 57/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4141 - accuracy: 0.8014
Epoch 58/75
177/177 [==============================] - 2s 9ms/step - loss: 0.4150 - accuracy: 0.7993
Epoch 59/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4121 - accuracy: 0.8021
Epoch 60/75
177/177 [==============================] - 1s 7ms/step - loss: 0.4151 - accuracy: 0.7975
Epoch 61/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4123 - accuracy: 0.8062
Epoch 62/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4194 - accuracy: 0.7968
Epoch 63/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4185 - accuracy: 0.7989
Epoch 64/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4144 - accuracy: 0.8044
Epoch 65/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4136 - accuracy: 0.8062
Epoch 66/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4156 - accuracy: 0.8000
Epoch 67/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4152 - accuracy: 0.7988
Epoch 68/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4145 - accuracy: 0.8053
Epoch 69/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4150 - accuracy: 0.8004
Epoch 70/75
177/177 [==============================] - 1s 6ms/step - loss: 0.4141 - accuracy: 0.8025
Epoch 71/75
177/177 [==============================] - 1s 7ms/step - loss: 0.4138 - accuracy: 0.8012
Epoch 72/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4153 - accuracy: 0.8020
Epoch 73/75
177/177 [==============================] - 1s 8ms/step - loss: 0.4136 - accuracy: 0.8011
Epoch 74/75
177/177 [==============================] - 1s 7ms/step - loss: 0.4136 - accuracy: 0.8032
Epoch 75/75
177/177 [==============================] - 1s 5ms/step - loss: 0.4151 - accuracy: 0.7989

In [60]:
#predict
y_hat = model.predict(X_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

45/45 [==============================] - 0s 3ms/step

In [61]:
accuracy_score(y_test, y_hat)

0.8254080908445706

##Save Model

In [40]:
model.save('tfmodel')

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [41]:
#delete model

del model

In [43]:
#load a saved model

model = load_model('tfmodel')